<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sd_StoreLocator::storelocator"
             title="Storelocator" translate="title" module="Sd_StoreLocator"
             sortOrder="15"
             resource="Sd_StoreLocator::Storelocator"/>
        <add id="Sd_StoreLocator::storelocator_grid"
             title="Storelocator Grid" translate="title" module="Sd_StoreLocator"
             sortOrder="100" parent="Sd_StoreLocator::storelocator"
             action="storelocator/grid"
             resource="Sd_StoreLocator::storelocator_grid"/>
    </menu>
</config>